@import url('https://fonts.googleapis.com/css2?family=Shojumaru&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarpanch:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&display=swap');

body {
  background-color: #3DC27F;
  display: block;
  position: relative;
  margin: auto;
  font-family: 'Ubuntu'
}
h1 {
  font-family: 'Press Start 2P';
  font-size: 6em;
  margin-left: 12%;
  color: white;
  text-align: center;
  transform: rotate(-90deg) translate(-16rem, -23rem);
  z-index: -1;
  display: block;
  position: absolute;
}
h2 {
  font-family: 'Shojumaru', cursive;
  font-size: 2.5em;
  color:#BAECE9;
  
}
h3 {
  font-family: 'Sarpanch', sans-serif;
  font-size: 2em;
  color: #AA1633;
 
 
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
}
article {
  padding: 1rem;
}

p {
  color: #033E4F;
  width: 25rem;
  font-size: 1.5em;
  margin-left: 45%;
  font-family: 'Merriweather', serif;
}

.img-wrapper {
  display: block;
  position: relative;

}
.img-wrapper::before{
  content: "";
  display: block;
  position: absolute;
  height: 15rem;
  width: 15rem;
  border-radius: 15rem;
  background: linear-gradient(180deg, rgba(49,31,96,1) 0%, rgba(232,129,127,1) 100%);
  z-index: -3;
  transform: translate(-2rem, -2rem);
}

.img-wrapper::after{
  content: "";
  display: block;
  position: absolute;
  height: 7rem;
  width: 7rem;
  border-radius: 7rem;
  background: radial-gradient(circle, rgba(246,200,199,1) 0%, rgba(208,124,168,1) 100%);    
  z-index: -1;
  transform: translate(14rem, -2rem);

}


strong {
  border-radius: 2px;
  padding: .4rem;
  display: block;
  background-color: #F9C3D3;
  width: 80%;
  color:  #be9ed1;
  position: absolute;
  right: 0;
  text-align: center; 
  font-family: 'Press Start 2P';
  font-size: 1em;
  
}

a{
    text-decoration: none;
    font-family: 'Mansalva', cursive;
    font-size: 2em;
    color: #FFAE25;
}

a:hover{
       text-decoration: none;
       font-family: 'Mansalva', cursive;
       font-size: 2em;
       color: #272E41;
}

button {
  padding: 20px 60px;
  background-color: #0F3440;
  border: none;
  font-size: 18px;
  position: relative;
  transition: 500ms;

}

button span {
  color: gray;
  position: relative;
  transition: 500ms;
  transition-delay: 500ms;
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

button:before {
  content: '';
  position: absolute;
  width: 0%;
  height: 0%;
  left: 50%;
  right: 50%;
  top: 50%;
  bottom: 50%;
  transition: 500ms;
  transition-delay: 500ms;
  background-color: #FFDF4A;
  box-shadow: 0 0 10px #FFDF4A,
   0 0 30px #FFDF4A, 
   0 0 50px #FFDF4A;
}

button div {
  transition: 500ms;
  position: absolute;
  background-color: #FFDF4A;
  box-shadow: 0 0 15px #FFDF4A, 0 0 30px #FFDF4A, 0 0 50px #FFDF4A;
}

button .top {
  width: 15px;
  height: 2px;
  top: 0;
  left: 0;
}

button .bottom {
  width: 15px;
  height: 2px;
  bottom: 0;
  right: 0;
}

button .left {
  width: 2px;
  height: 15px;
  top: 0;
  left: 0;
}

button .right {
  width: 2px;
  height: 15px;
  bottom: 0;
  right: 0;

}

button:hover {
  color: #0F3440;
}

button:hover span {
  color: #0F3440;
}

button:hover:before {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

button:hover .top, 
button:hover .bottom {
  width: 100%;
}

button:hover .left,
button:hover .right {
  height: 100%;
}

.botonLeft {
  float: left;
  margin-top: 3.7%;
  margin-left: 10%;
}

.botonRight {
  float: right;
  margin-right: 15%;
  margin-top: 3.5%;
}

.derecha {
  margin-right: 50%;
}

.izquierda {
  margin-left: 10%;
}

